<style>
body{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240, 240, 240, 1);
  height: 30mm;
  border-bottom: 1px solid;
  border-width: thin;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(240, 240, 240, 1);
  height: 30mm;
  border-top: 1px solid;
  border-width: thin;
  width: 100%;
}


</style>

<div >

    <div id="header">
      <div style="margin: 15px">
        <div>
          <img style="position: absolute; top: 10px; width: 90px;" src="{{ static_file('logo.png') }}"></img>
        </div>
        <div>
          <div style="position: absolute; top: 20px; left: 120px"><b>Project:</b> {{ project["title"] }}</div>
          <div style="position: absolute; top: 42px; left: 120px"><b>Document:</b> {{ document["title"] }}</div>
        </div>
        <div >
          <div style="position: absolute; top: 20px; right: 30px;" ><b>Date:</b> {{ context["date"] }}</div>
        </div>
      </div> 
    </div>


    <div id="footer">
      <div style="margin: 5px">

        {% if page["full_number"] != "0" %}
        <div style="text-align: center;">Page nr {{ page["full_number"] }}</div>
        {% endif %}
      
      </div>
    </div>


</div>