<style>
body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
}
#header {
  position: relative;
  background: rgba(255, 255, 255, 1);
  height: 30mm;
  border-bottom: 1px solid;
  border-width: thin;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  height: 30mm;
  border-top: 1px solid;
  border-width: thin;
}


</style>
</style>
<div >

    <div id="header">
        <h1>Title</h1>        
    </div>


    <div id="footer">And in the last place, where this might not be the case, they would be of long standing, would have taken deep root, and would not easily be extirpated. The scheme of revising the constitution, in order to correct recent breaches of it, as well as for other purposes, has been actually tried in one of the States.</div>


</div>