<style>
body{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240, 240, 240, 1);
  height: 30mm;
  border-bottom: 1px solid;
  border-width: thin;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(240, 240, 240, 1);
  height: 30mm;
  border-top: 1px solid;
  border-width: thin;
  width: 100%;
}


</style>

<div >

    <div id="header">
      <div style="margin: 15px">

        <div style="display: inline-block;">
          <img style="width: 90px; position: relative; top: 10px;" src="{{ static_file('logo.png') }}"></img>
       
        </div>
        <div style="display: inline-block;">
          <div style="position: absolute; top: 20px;"><b>Project:</b> {{ project["title"] }}</div>
          <div style="position: absolute; top: 40px;"><b>Document:</b> {{ document["filename"] }}</div>
        </div>

      </div> 
    </div>


    <div id="footer">
      <div style="margin: 5px">

        <div style="text-align: center;">Page nr {{ page["full_number"] }}</div>
      
      </div>
    </div>


</div>