<style>
  body{
    font-family: "Courier New", monospace;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
  }
  #content {
    position: absolute;
    /* border: 1px solid;   */

    top: 0mm;
    bottom: 0mm;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 190mm;
  }
  ul{
    list-style-type:none;
    padding-inline-start: 0px;
  }
</style>

<div id="content">
  <h1 style="text-align: center;">{{ title }}</h1>

  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

</div>